@media screen and (width: 800px) {
   body {
 background-color: white;
}
html{
    background-color: white;
}
}
.first-list {
    display: inline;
    padding: 8px 0;
    position: fixed;
    gap:20px;
width: 100%;
top:0;
z-index: 100;
}

.first {

    font-size: medium;
    font-weight: lighter;
    display: inline-flex;
    position: relative;
    text-decoration:none;

}

.first1 {
    cursor: pointer;
}

.first :hover {
    font-weight: bold;
}

.second-list {
    display: inline;
    cursor: pointer;
}

.register,.learn {
    background-color: white;
    border-color: gray;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 8px;
}

.make {
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.remote {
    font: bolder;
    font-family: sans-serif;
}

#laptot-guy {
   width: 100%;
  max-width: 400px;
  height: auto;

}

.big-image {
  flex: 1;
  text-align: right;
}

.second-list {
    display: inline-flex;
    margin-top: 0;
    margin-right: 0;
    padding-left: 1000px;
    
}

.registering {
    display: inline;
    position:relative;
    margin: 10px;
    cursor: pointer;
}
.infor{
    display: inline-flex;
}
.trying{
    display: inline-flex;
}
.feature-list,.company {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 10px;
  margin: 15px;
  
}
 .feature-list {
  display:inline;
  position: absolute;
  background-color: white;
 
  padding: 10px;
  border-radius: 5px;

  font: lighter;
  width: 100px;
 }

.hero-section {
  margin-top: 60px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.hero-text {
  flex: 1;
  padding-right: 40px;
}

