*{
    margin: 0;
    padding: 0;
}
html, body {
  overflow-x: hidden; 
}
@media (max-width: 768px) {
 body {
    width: 100vw;
  }
}
body{
    height: 90%;
}
html, body{
    margin:0;
    padding: 0;
}
.career-div{
    margin-left: 250px;
    margin-top: -30px;
    
}
a{
    padding: 5px;
    cursor: pointer;
}
.register-div{
margin-left: 1200px;
margin-top: -30px;

}
#laptot-guy{
    width: 400px;
    height: 500px;
    margin-left: 1000px;
    margin-top: -300px;
}
.big-image{
    width: 50%;
}
.smaller-div{
    width: 50%;
    font-size: 30px;
     margin-top: 70px;
     margin-bottom: 20px;
     height: 300px;
    
}
#first-heading{
margin-left: 11%;
line-height: 0.9;
}
.paragraph
{
    margin-left: 9%;
    margin-top: -10px;
    font-size: 15px;
    font-weight: 100;
    color: rgba(139, 158, 155, 0.603);

}
.learn{
    background-color: transparent;
    border-radius: 10px;
    height:50px;
    width:120px;
    margin-left: 9%;
    cursor:pointer;
   
}
.learn:hover{
    border: 1px solid rgb(176, 173, 173);
   
}
.registering{
    background-color: transparent;
    border-radius: 15px;
    height:40px;
    width:100px;
    margin-left: 9%;
    cursor: pointer;
    
}
#features{
    cursor: pointer;
    border:none;
}
#company{
    cursor: pointer;
    border:none;
}
.career-div{
    cursor: pointer;
}
.infor{
    display: inline-flex;
    margin-top: -300px;
}
#snap{
padding-right: 30px;
}
header{
    text-align: top;
}
